@font-face {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 800;
	src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "Rubik";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "Rubik";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "Rubik";
	font-style: normal;
	font-weight: 800;
	src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
	font-display: swap;
}

html {
	box-sizing: border-box;
	overflow-x: hidden
}

*,
::before,
::after {
	box-sizing: inherit;
}

body {
	min-width: 1160px;
	margin: 0;
	padding: 0;
	padding-top: 40px;
	overflow-x: hidden;
	font-family: "Rubik", "Arial", sans-serif;
	font-size: 18px;
	line-height: 30px;
	color: black;
	background-color: #fff
}

a {
	text-decoration: none; /* Проверить по критерию! */
}

.header-wrapper {
	width: 1160px;
	margin: 0 auto;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	border: 0;
	clip: rect(0 0 0 0);
}

.page-header {
	position: relative;
	color: #000;
	background-color: #FFE17F;
}

.page-header-logo {
	position: absolute;
	top: -19px;
	left: 59px;
}

.navigation {
	padding-top: 28px;
	padding-right: 60px;
	padding-bottom: 160px;
	padding-left: 60px;
}

.catalog-navigation {
	padding-bottom: 47px;
}

.navigation-user-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	margin: 0;
	padding: 0;
	padding-bottom: 21px;
	list-style-type: none;
}

.navigation-user-item {
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 27px;
}

.navigation-user-item-search {
	width: 540px;
}

.navigation-user-item-login {
	width: 245px;
	padding-left: 26px;
	margin-right: 15px;
}

.navigation-user-item-compare {
	width: 110px;
	margin-right: 20px;
}

.navigation-user-item-cart {
	width: 110px;
	text-align: right;
}

.popover {
	position: absolute;
	top: 80px;
	right: -25px;
	z-index: 100;
	width: 320px;
	min-height: 150px;
	background: #000000;
	color: #FFFFFF;
	box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.1);
	display: none;
}

.popover-cart {
	font-family: "Rubik", "Arial", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
}

.popover-cart-items {
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0;
	justify-content: flex-start;
	list-style-type: none;
}

.popover-item {
	display: flex;
	width: 241px;
	padding: 20px;
}

.popover-item-first {
	padding-bottom: 20px;
}

.popover-item-image {
	display: block;
	margin-right: 23px;
}

.popover-cart-summary {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background-color: #1A1A1A;
	color: white;
	padding-top: 13px;
	padding-bottom: 13px;
}

.popover-item-name {
	padding: 0;
	margin: 0;
	margin-left: auto;
	width: 180px;
	font: inherit;
}

.popover-item-name-first::after {
	position: absolute;
	height: 11px;
	width: 11px;
	content: "";
	background: black;
	color: white;
	top: 25px;
	right: 20px;
	background-image: url(../img/close-cart.svg);
	cursor: pointer;
}

.popover-item-name-second::after {
	position: absolute;
	height: 11px;
	width: 11px;
	content: "";
	background: black;
	color: white;
	top: 110px;
	right: 20px;
	background-image: url(../img/close-cart.svg);
	cursor: pointer;
}

.summary-info {
	font-family: "Rubik", "Arial", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
	margin: 0;
	padding: 0;
}

.summary-info-goods {
	width: 120px;
	margin-left: 20px;
	margin-right: 10px;
}

.summary-info-totalsum {
	width: 150px;
	text-align: end;
	margin-right: 20px;
}

.popover-button-wrap {
	padding: 20px;
}

.popover-button {
	width: 280px;
	padding-top: 15px;
	padding-bottom: 15px; 
	font-family: "Raleway", "Arial", sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #000000;
	cursor: pointer;
	border: none;
}

.navigation-search {
	position: relative;
	display: flex;
	justify-content: space-between;
  width: 440px;
}

.navigation-search-input {
	position: relative;
	width: 320px;
	height: 20px;
	margin-left: 10px;
	padding: 0;
	font-family: "Rubik", "Arial", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	background-color: transparent;
	color: #000000;
	opacity: 0.3;
	border: 0;
	outline: 0;
}

.navigation-search-label {
	position: absolute;
	top: 2px;
	left: -24px;
	width: 20px;
	height: 20px;
	background-image: url(../img/search.svg);
	background-repeat: no-repeat;
	cursor: pointer;
}

.navigation-search-btn:hover {
	background: #000000;
	border: 2px solid #000000;
	box-sizing: border-box;
	border-radius: 0px 20px 20px 0px;
}

.navigation-search-btn:focus {
	border: 2px solid #AF4FFF;
	box-sizing: border-box;
	border-radius: 0px 20px 20px 0px;
}

.navigation-search-btn:active {
	border: 2px solid #000000;
	box-sizing: border-box;
	border-radius: 0px 20px 20px 0px;
}

.navigation-search-btn:focus~.navigation-search-label::before {
	display: block;
}

.navigation-user-link {
	position: relative;
	color: #000;
}

.navigation-user-link:hover {
	opacity: .6;
}

.navigation-user-link:hover::before {
	opacity: .6;
}

.navigation-user-link:active {
	opacity: .3;
}

.navigation-user-link:active::before {
	opacity: .3;
}

.navigation-user-link::before {
	content: "";
	position: absolute;
	width: 13px;
	height: 12px;
	background-repeat: no-repeat;
}

.navigation-user-link-login::before {
	bottom: 4px;
	left: -26px;
	background-image: url(../img/user-enter.svg);
}

.navigation-user-link-profile::before {
	bottom: 4px;
	left: -26px;
	background-image: url(../img/compare.svg);
}

.navigation-user-link-compare::before {
	bottom: 4px;
	left: -20px;
	background-image: url(../img/compare.svg);
}

.navigation-user-link-cart::before {
	bottom: 4px;
	left: -23px;
	background-image: url(../img/cart.svg);
}

.navigation-user-link-logout {
	margin-left: 15px;
	color: rgba(0, 0, 0, .3);
}

.navigation-user-link-logout:hover {
	color: rgba(0, 0, 0, .6);
}

.navigation-user-link-logout:active {
	color: rgba(0, 0, 0, .1);
}

.main-navigation-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	list-style: none;
}

.main-navigation-list-item-catalog {
	position: relative;
	width: 540px;
}

.main-navigation-list-item-catalog:focus-within .main-navigation-inner-menu {
	display: block;
}

.main-navigation-list-item-delivery {
	width: 158px;
}

.main-navigation-list-item-warranty {
	width: 162px;
}

.main-navigation-list-item-contacts {
	width: 180px;
	text-align: right;
}

.main-navigation-list-link {
	font-family: "Raleway", "Arial", sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 21px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #000000;
	cursor: pointer;
}

.main-navigation-list-link:hover {
	opacity: .6;
}

.main-navigation-list-link:active {
	opacity: .3;
}

.main-navigation-list-link-contacts {
	margin-right: -.2em;
}

.main-navigation-list-link-catalog {
	margin-right: 17px;
}

.main-navigation-list-link-catalog::before {
	content: "";
	position: absolute;
	top: 6px;
	left: 260px;
	width: 16px;
	height: 16px;
	opacity: 0.2;
	color: #000000;
	background-color: #FFE17F;
	background-image: url("../img/main-catalog-plus.svg");
	background-repeat: no-repeat;
}

.main-nav-catalog-mark {
	content: "";
	position: absolute;
	top: -10px;
	width: 50px;
	height: 50px;
	background: #FFE17F;
	opacity: 0.2;
	border: 2px solid #000000;
	box-sizing: border-box;
	border-radius: 50%;
}


.main-navigation-inner-menu {
	position: absolute;
	top: 22px;
	left: -60px;
	z-index: 2;
	display: none;
	width: 1160px;
	padding-top: 50px;
	padding-bottom: 34px;
	padding-left: 60px;
	background-color: #FFE17F;
}

.main-navigation-inner-menu:hover {
	display: block;
}

.inner-menu-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 640px;
	margin: 0;
	padding: 0;
	list-style: none;
	font-weight: 300;
	font-size: 15px;
	line-height: 36px;
	font-family: "Rubik", "Arial", sans-serif;
	letter-spacing: .01em;
}

.inner-menu-list-item {
	display: flex;
	flex-direction: column;
	width: 200px;
}

.inner-menu-list-link {
	font-family: "Rubik", "Arial", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 18px;
	color: #000000;
	display: block;
	margin-bottom: 20px;
}

.inner-menu-list-item:first-child {
	width: 210px;
	margin-right: 29px;
}

.main-container {
	flex-grow: 1;
	color: black;
	text-decoration: none;
}

.products {
	width: 1160px;
	margin: 0 auto;
	margin-bottom: 70px;
	position: relative;
	margin-top: -150px;
	z-index: 1;
}

.product {
	display: flex;
}

.products-description-link {
	font-family: "Raleway", "Arial", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: inherit;
	text-decoration: inherit;
	width: 220px;
	margin-right: 200px;
	background: 0 0;
	border: 0;
}

.products-description-link::before {
	content: "";
	position: absolute;
	top: 12px;
	left: 6px;
	z-index: -1;
	width: inherit;
	height: 8px;
	margin-top: -5px;
	background-color: #FFE17F;
}

.article-image {
	position: relative;
	overflow: hidden; 
	height: 560px;
	width: 100%;
	margin-right: 40px;
}


.article-description {
	width: 560px;
	display: flex;
	flex-direction: column;
	padding-top: 125px;
}

.article-description::after {
	content: "01";
	position: absolute;
	top: 75px;
	right: 50px;
	z-index: -1;
	font-family: "Rubik", "Arial", sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 180px;
	line-height: 30px;
	color: #FFFFFF;
}

.pagination {
	width: 560px;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 70px;
	align-items: center;
	position: relative;
}

.product-slider-pagination {
	width: 80px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.categories-list {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
	justify-content: space-between;
}

.categories-list-item {
	width: 160px;
	color: inherit;
	text-align: left;
}

.categories-list-image {
	background-color: #FFE17F;
	display: block;
	box-sizing: border-box;
	width: 160px;
	height: 160px;
	margin-bottom: 33px;
}

.glasses {
  padding: 53px 31px 52px 32px;
}

.monopod {
	padding-top: 43px;
	padding-right: 37px;
	padding-left: 37px;
}

.action-camera {
  padding: 38px 40px 35px 49px;
}

.fitness {
  padding: 50px 27px 45px 26px;
}

.smart {
  padding: 31px 51px 31px 53px;
}

.kvadro {
  padding: 49px 14px 42px;
}

.services-list-name {
	display: flex;
	flex-direction: column;
}

.about-us-delivery-link-image {
	display: block;
	margin-right: 31px;
}

.button {
	font-family: "Raleway", "Arial", sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	text-decoration: none;
	color: #000000;
}

.user-navigation-link {
	font-family: "Rubik", "Arial", sans-serif;
	font-size: 16px;
	line-height: 19px;
	color: inherit;
	text-decoration: inherit;
}

.article-header {
	font-family: "Raleway", "Arial", sans-serif;
	font-weight: 800;
	font-size: 50px;
	line-height: 50px;
	padding: 0;
	margin: 0;
	margin-bottom: 19px;
}

.article-product-description {
	font-family: "Rubik", "Arial", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 30px;
	color: #444444;
	padding: 0;
	margin: 0;
	margin-bottom: 30px;
}

.categories {
	width: 1160px;
	margin: 0 auto;
	margin-bottom: 70px;
}

.categories-list-item-link {
	font-family: "Raleway", "Arial", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: -0.02em;
	color: inherit;
	text-decoration: inherit;
}

.services {
	margin-bottom: 90px;
	position: relative;
}

.services::before {
	content: "";
	position: absolute;
	top: 163px;
	left: 0;
	z-index: -1;
	width: 100%;
	height: calc(100% - 164px);
	background-color: #F0F0F0;
}

.services-wrapper {
	width: 1160px;
	margin: 0 auto;
}

.services-list-name {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	list-style: none;
	width: 160px;
}

.services-subtitle {
	font-family: "Raleway", "Arial", sans-serif;
	font-weight: 800;
	font-size: 50px;
	line-height: 50px;
	margin: 0;
	padding: 0;
	padding-bottom: 31px;
}

.services-slider-text {
	font-family: "Rubik", "Arial", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 30px;
	color: #444444;
	margin: 0;
	padding: 0;
}

.services-list-name-link {
	font-family: "Raleway", "Arial", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: inherit;
	text-decoration: inherit;
}

.services-content {
	z-index: 1;
	display: flex;
	padding-bottom: 118px;
}

.services-slider-item {
	position: relative;
	order: 2;
	width: 497px;
	margin-left: 116px;
	padding-top: 139px;
}

.services-slider-item-delivery::before {
	content: "";
	position: absolute;
	top: 148px;
	right: -200px;
	z-index: 0;
	width: 136px;
	height: 164px;
	background-image: url("../img/services-delivery-guy.svg");
	background-repeat: no-repeat;
}

.services-slider-item-warranty::before {
	content: "";
	position: absolute;
	top: 148px;
	right: -234px;
	z-index: 0;
	width: 136px;
	height: 164px;
	background-image: url("../img/services-slider-warranty.svg");
	background-repeat: no-repeat;

}
.services-slider-item-credit::before {
	content: "";
	position: absolute;
	top: 148px;
	right: -234px;
	z-index: 0;
	width: 136px;
	height: 164px;
	background-image: url("../img/services-slider-credit.svg");
	background-repeat: no-repeat;
}

.service-description-active {
	font-family: "Rubik", "Arial", sans-serif;
	font-size: 18px;
	line-height: 30px;
	color: #444444;
}

.services-slider-item-warranty {
	display: none;
}

.services-slider-item-credit {
	display: none;
}

.services-slider-controls {
	position: relative;
	padding-top: 142px;
	padding-right: 120px;
}

.services-slider-controls::before {
	content: "";
	position: absolute;
	top: 63px;
	right: -4px;
	width: 7px;
	height: calc(100% - 15px);
	background-color: #000;
}

.services-slider-control {
	position: relative;
	z-index: 1;
	display: block;
	order: 1;
	width: 160px;
	margin-bottom: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 3px;
	font-family: "Raleway", "Arial", sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #000000;
	cursor: pointer;
}

.services-slider-control::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	z-index: -1;
	width: 160px;
	height: 8px;
	margin-top: -4px;
	background-color: #f0c52e;
}


.about-us-wrapper {
	width: 1160px;
	margin: 0 auto;
	margin-bottom: 87px;
}

.about-us-delivery {
	background-color: #F0F0F0;
	margin-bottom: 139px;
}

.about-us-delivery-list {
	padding: 0;
	margin: 0;
	display: flex;
	list-style-type: none;
	justify-content: space-between;
	align-items: center;
}

.about-us-list-item-first {
	background-color: #FFE17F;
	padding: 35px 39px;
}

.about-us-info {
	display: flex;
}

.about-us-description,
.about-us-contacts {
	width: 560px;
	position: relative;
}

.about-us-description::before {
	content: "";
	position: absolute;
	top: -52px;
	left: 0px;
	width: 80px;
	height: 7px;
	background-color: #000000;
}

.about-us-contacts::before {
	content: "";
	position: absolute;
	top: -52px;
	left: 0px;
	width: 80px;
	height: 7px;
	background-color: #000000;
}

.about-us-delivery-image {
	width: 47px;
	height: 31px;
	background-color: #FFE17F;
}

.about-us-delivery-text {
	font-family: "Raleway", "Arial", sans-serif;
	font-weight: 800;
	font-size: 20px;
	line-height: 23px;
	text-align: center;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	display: block;
}

.about-us-subheader {
	font-family: "Raleway", "Arial", sans-serif;
	font-weight: 800;
	font-size: 50px;
	line-height: 50px;
	margin: 0;
	padding: 0;
	margin-bottom: 26px;
}

.about-us-description-text {
	font-family: "Rubik", "Arial", sans-serif;
	font-size: 18px;
	line-height: 30px;
	color: #444444;
	margin: 0;
	padding: 0;
	padding-bottom: 30px;
}

.main-description {
	padding-bottom: 36px;
	width: 497px;
}

.about-us-description-list {
	width: 497px;
	padding: 0;
	margin: 0;
	list-style-type: none;
	padding: 0px 0px 62px 26px;
}

.about-us-description-list-item {
	font-family: "Rubik", "Arial", sans-serif;
	font-weight: bold;
	font-size: 18px;
	line-height: 20px;
	position: relative;
	padding-bottom: 20px;
}

.about-us-description-list-item::before {
	content: "";
	position: absolute;
	top: 5px;
	left: -26px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #FFC700;
}

.about-us-description-link {
	font-family: "Raleway", "Arial", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: inherit;
	text-decoration: inherit;
	content: "";
	width: 260px;
	display: block;
}

.about-us-description-link::before {
	content: "";
	position: absolute;
	display: block;
	left: -2px;
	bottom: 6px;
	z-index: -1;
	width: inherit;
	height: 8px;
	margin-top: -5px;
	background: #FFC700;
}

.about-us-h4-subheader {
	font-family: "Rubik", "Arial", sans-serif;
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	margin: 0;
	margin-bottom: 15px;
	padding: 0;
}

.about-us-contacts-address {
	font-family: "Rubik", "Arial", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 30px;
	color: #444444;
}

.contacts-address-phone {
	font-family: "Rubik", "Arial", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 30px;
	text-decoration-line: underline;
	color: #444444;
	display: block;
	margin-bottom: 30px;
}

.mailing {
	background-color: #F0F0F0;
}

.mailing-wrapper {
	width: 1160px;
	margin: 0 auto;
	padding-top: 75px;
	padding-bottom: 131px;
}

.mailing-text {
	width: 1160px;
	display: flex;
}

.mailing-form-container {
	width: 1160px;
	display: flex;
	justify-content: flex-start;
}

.mailing-form {
	display: flex;
	margin-right: 200px;
}

.mailing-form-text {
	padding: 0;
	margin: 0;
	width: 129px;
}

.mailing-subscribe-input {
	display: block;
	width: 601px;
}

.mailing-submit-button {
	display: block;
	width: 260px;
	border: none;
	margin: 0;
	padding: 0;
}

.mailing-subheader {
	font-family: "Raleway", "Arial", sans-serif;
	font-weight: 800;
	font-size: 50px;
	line-height: 50px;
	width: 560px;
	margin: 0;
	padding: 0;
	margin-bottom: 40px;
}

.mailing-description {
	font-family: "Rubik", "Arial", sans-serif;
	font-size: 18px;
	line-height: 30px;
	color: #444444;
	width: 560px;
	text-align: left;
	margin: 0;
	padding: 0;
}

.mailing-submit-button {
	font-family: "Raleway", "Arial", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #000000;
	text-decoration: inherit;
}

.page-footer {
	padding-top: 63px;
	padding-bottom: 61px;
	padding-left: 139px;
	padding-right: 140px;
	background-color: #444444;
	color: white;
}

.footer-wrapper {
	width: 1160px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.about-us-schedule {
	margin: 0;
	padding: 0;
	list-style-type: none;
	width: 204px;
	margin-bottom: 68px;
}

.about-us-schedule-item {
	font-family: "Rubik", "Arial", sans-serif;
	font-size: 18px;
	line-height: 30px;
	color: #444444;
}

.contact-address-text {
	font-family: "Rubik", "Arial", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
}

.catalog-form-header {
	font-family: "Raleway", "Arial", sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #000000;
	margin: 0;
	margin-right: 55px;
}

.sorting-type {
	font-family: "Raleway", "Arial", sans-serif;
	font-weight: 800;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: black;
}

.sidebar-check-item {
	font-family: "Rubik", "Arial", sans-serif;
	font-size: 16px;
	line-height: 19px;
  position: relative;
}

.sidebar-check-item:not(:last-child) {
  margin-bottom: 20px;
}

.check-control, .radio-control {
	display: block;
	position: relative;
	padding-left: 38px;
}

.control-mark {
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;	
	border: 2px solid black;
	border-radius: 3px;
}

.control-mark-radio {
	position: absolute;
	top: 4px;
	left: 0;
	width: 20px;
	height: 20px;	
	border: 2px solid black;
	border-radius: 3px;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
	position: absolute;
	content: "";
	top: 3px;
	left: 3px;
	width: 10px;
	height: 10px;
	background-image: url("../img/galka.svg");
	background-repeat: no-repeat;
}

.control-input[type="radio"] + .control-mark-radio {
	border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark-radio::before {
	position: absolute;
	top: 4px;
	left: 4px;
	width: 8px;
	height: 8px;
	background-color: black;
	border-radius: 50%;
	content: "";
}

.sidebar-filter-button {
	font-family: "Raleway", "Arial", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	width: 200px;
	border: none;
}

.popular-first {
	font-family: "Rubik", "Arial", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	color: #000000;
}

.product-card-link {
	font-family: "Rubik", "Arial", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: -0.02em;
	color: #000000;
	text-decoration: none;
	display: block;
}

.product-card-price {
	font-family: "Rubik", "Arial", sans-serif;
	font-size: 18px;
	line-height: 21px;
	text-align: right;
	color: #444444;
	align-self: flex-start;
}

.show-more {
	font-family: "Raleway", "Arial", sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	background-color: #fff;
	color: #000000;
	text-decoration: none;
}

.pagination-link-prev {
	font-family: "Raleway", "Arial", sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: inherit;
	text-decoration: inherit;
	display: block;
	padding-top: 24px;
	padding-right: 30px;
	padding-bottom: 22px;
	padding-left: 30px;
}

.pagination-link-next {
	font-family: "Raleway", "Arial", sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: inherit;
	text-decoration: inherit;
	display: block;
	padding-top: 24px;
	padding-bottom: 22px;
	padding-left: 30px;
	padding-right: 30px;
}

.pagination-link {
	font-family: "Rubik", "Arial", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	color: #444444;
	text-decoration: inherit;
	opacity: 0.3;
}

.pagination-inner-list {
	display: flex;
	justify-content: flex-start;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.pagination-inner-link-active {
	opacity: 1;
}

.pagination-inner-link {
	font-family: "Rubik", "Arial", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	text-decoration: none;
	color: #444444;
	display: block;
	opacity: 0.3;
}

.pagination-inner-item-first {
	width: 7px;
	margin-right: 28px;
}

.pagination-inner-item-second {
	width: 10px;
	margin-right: 30px;
}

.pagination-inner-item-third {
	width: 10px;
	margin-right: 29px;
}

.pagination-inner-item-dots {
	width: 13px;
	margin-right: 25px;
}

.pagination-inner-item-last {
	width: 17px;
}

.follow-me-new-text {
	font-family: "Raleway", "Arial", sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 14px;
	line-height: 16px;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.6);
}

.sidebar-filter-title {
	font-family: "Rubik", "Arial", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 20px;
	margin: 0;
	padding: 0;
	letter-spacing: -0.02em;
	color: #000000;
}

.sidebar-range-title {
	margin-bottom: 41px;
}

.sidebar-check-title {
	margin-bottom: 30px;
}

.sidebar-radio-title {
	margin-bottom: 32px;
}

.range-scale {
	position: relative;
	height: 2px;
	margin-bottom: 18px;
	background-color: #DCDCDC;
}

.range-bar {
	height: 2px;
	background-color: #000000;
  width: 119px;
}

.range-toggle {
	position: absolute;
	width: 18px;
	height: 18px;
	background: #EBEBEB;
	border: 2px solid black;
	border-radius: 50%;
	cursor: pointer;
}

.range-toggle:focus {
	background: #EBEBEB;
	border: 2px solid #AF4FFF;
	box-sizing: border-box;
}

.range-toggle:active {
	background: #000000;
	border: 2px solid #000000;
	box-sizing: border-box;
}

.range-toggle-min {
	top: -8px;
	left: 0px;
}

.range-toggle-max {
	top: -8px;
	right: 80px;
}

.sidebar-filter-group {
	width: 200px;
  position: relative;
	margin: 0;
	padding: 0;
	border: 0;
}

.sidebar-filter-group::before {
	content: "";
	position: absolute;
	top: -75px;
	height: 2px;
	width: 200px;
	background-color: #000000;
}

.range-inputs-wrap {
	display: flex;
	justify-content: flex-start;
}

.sidebar-range-label {
	font-family: "Rubik", "Arial", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 18px;
	text-align: center;
	color: #000000;
	opacity: 0.3;
	display: flex;
}

.sidebar-range-input {
	appearance: textfield;
	border: none;
	background-color: transparent;
	width: 58px;
	padding: 0 2px;
	font: inherit;
}

.sidebar-range-input::-webkit-outer-spin-button,
.sidebar-range-input::-webkit-inner-spin-button {
	appearance: none;
	margin: 0;
}

.left-range-label {
	margin-right: 67px;
	margin-left: -10px;
	width: 28px;
}

.sidebar-radio-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.radio-first-item {
  margin-bottom: 21px;
}

.user-navigation-catalog-list {
	display: flex;
	list-style-type: none;
	margin-top: 0;
	margin-bottom: 29px;
	margin-top: 48px;
	margin-right: 25px;
	padding: 0;
	width: 535px;
}

.sorting-select {
  position: relative;
  display: flex;
  align-items: center;
  width: 195px;
  margin-right: auto;
}

.select-control {
  width: 100%;
  padding: 4px 2px;
  background-color: #EBEBEB;
  border: none;
  background-image: url(../img/select-arrow.svg);
  background-repeat: no-repeat;
  background-position: right 5px center;
  appearance: none;
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.header-container {
	width: 1160px;
	margin: 0 auto;
}

.main-catalog-header {
	padding-top: 37px;
	padding-bottom: 49px;
	padding-left: 60px;
}

.catalog-header-title {
	margin: 0;
	padding-bottom: 14px;
	font-family: "Raleway", "Arial", sans-serif;
	font-weight: 800;
	font-size: 45px;
	line-height: 50px;
}

.breadcrumbs-list {
	display: flex;
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.breadcrumbs-item {
	position: relative;
	padding-right: 37px;
}

.breadcrumbs-item::after {
	content: "";
	position: absolute;
	top: 14px;
	right: 19px;
	width: 5px;
	height: 5px;
	transform: rotate(45deg);
	border-top: 1px solid #000000;
	border-right: 1px solid #000000;
}

.breadcrumbs-item:nth-child(2)::after {
	right: 16px;
}

.breadcrumbs-link {
	font-family: "Rubik", "Arial", sans-serif;
	font-size: 16px;
	line-height: 19px;
	color: #000000;
	opacity: 0.6;
	text-decoration: none;
}

.catalog-products-wrapper {
	display: flex;
	width: 1160px;
	margin: 0 auto;
}

.catalog-sidebar {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	width: 328px;
	background-color: #EFEFEF;
}

.catalog-sidebar::before {
	content: "";
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: -1;
	width: 100vw;
	height: 100%;
	background-color: #EFEFEF;
}

.sidebar-title-wrap {
	width: 328px;
	background-color: #DCDCDC;
}

.sidebar-header {
	padding-top: 28px;
	padding-bottom: 30px;
	margin: 0;
	padding-left: 60px;
	font-family: "Raleway", "Arial", sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	/* basic/black */
	color: #000000;
}

.sidebar-filter-range {
	margin-bottom: 54px;
}

.sidebar-filter-check {
	margin-bottom: 60px;
}

.sidebar-filter-radio {
	margin-bottom: 55px;
}

.sidebar-header::before {
	content: "";
	position: absolute;
	top: 0px;
	right: 328px;
	width: 100vw;
	height: 77px;
	background-color: #DCDCDC;
}

.sidebar-form {
	padding-top: 86px;
	padding-right: 68px;
	padding-left: 60px;
	box-sizing: border-box;
}

.sidebar-check-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.product-cards-container {
	width: 832px;
}

.products-info {
	margin: 0;
	padding: 0;
	padding-top: 32px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.products-info-header {
	margin: 0;
	padding: 0;
	align-self: center;
	width: 280px;
}

.sorting-products {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: 832px;
	padding-top: 22px;
	padding-bottom: 25px;
	padding-left: 72px;
	box-sizing: border-box;
	background-color: #EBEBEB;
}

.sorting-products::after {
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -1;
	width: 100vw;
	height: 100%;
	background-color: #EBEBEB;
}

.sorting-updown-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 41px;
	margin: 0;
	padding: 0;
	margin-left: auto;
	list-style-type: none;
}

.product-cards {
	width: 832px;
	margin: 0;
	padding-top: 69px;
	padding-left: 72px;
	box-sizing: border-box;
}

.products-list {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.product-card {
	width: 360px;
	margin-right: 40px;
	margin-bottom: 44px;
}

.product-card:nth-child(2n) {
	margin-right: 0;
}

.load-more-link-wrap {
	width: 760px;
	text-align: center;
	opacity: 0.1;
	border: 3px solid #000000;
	box-sizing: border-box;
	margin-bottom: 51px;
}

.pagination-list {
	display: flex;
	list-style-type: none;
	padding: 0;
	margin: 0;
	margin-bottom: 51px;
	align-items: center;
	justify-content: space-between;
	width: 760px;
	box-sizing: border-box;
	background-color: #EBEBEB;
}

.footer-logo {
	width: 145px;
	margin-bottom: 35px;
}

.footer-info,
.footer-links {
	display: flex;
	width: 1160px;
	margin: 0 auto;
	justify-content: flex-start;
}

.footer-info {
	margin-bottom: 63px;
}

.footer-info-address {
	width: 238px;
	margin-right: 114px;
}

.footer-address-text {
	font-family: "Rubik", "Arial", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	color: #FFFFFF;
	margin: 0;
	padding: 0;
}

.footer-info-links-list {
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 458px;
	justify-content: space-between;
	margin-right: 58px;
}

.footer-info-links-item {
	width: 148px;
}

.footer-info-link {
	font-family: "Raleway", "Arial", sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	text-decoration: none;
	color: #FFFFFF;
}

.footer-info-text {
	width: 293px;
	padding: 0;
	margin: 0;
	text-align: end;
}

.footer-phone {
	font-family: "Rubik", "Arial", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 30px;
	text-align: right;
	color: #FFFFFF;
	text-decoration: none;
}

.footer-links {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.footer-links::before {
	content: "";
	position: absolute;
	bottom: 22px;
	left: 1px;
	width: 80px;
	height: 7px;
	margin-right: 425px;
	background-color: #ffc600;
}

.footer-links-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style-type: none;
	width: 149px;
	margin: 0;
	padding: 0;
	margin-right: 392px;
	margin-left: 490px;
}

.footer-htmlacademy-link {
	width: 115px;
}

.product-specifications {
	width: 440px;
}

.product-spec-list,
.product-desc-list {
	display: flex;
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.spec-list-item,
.desc-list-item {
	width: 160px;
}

.spec-list-info {
	font-family: "Rubik", "Arial", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 30px;
	color: #000000;
}

.desc-list-info {
	font-family: "Rubik", "Arial", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 30px;
	color: #444444;
}

.slider-pagination-button {
	background: #FFFFFF;
	height: 12px;
	width: 12px;
	border: 2px solid #000000;
	border-radius: 50%;
	display: block;
	cursor: pointer;
	margin: 0;
	padding: 0;
}

.slider-pagination-button:hover {
	background: #FFFFFF;
	opacity: 0.6;
	border: 2px solid #000000;
	box-sizing: border-box;
}

.slider-pagination-button:focus {
	background: #FFFFFF;
	border: 2px solid #AF4FFF;
	box-sizing: border-box;
}

.slider-pagination-button:active {
	background: #000000;
	border: 2px solid #000000;
	box-sizing: border-box;
}

.slider-pagination-button-current {
	background: #000000;
}

.product-slider-button {
	background-color: white;
	color: black;
	border: none;
	cursor: pointer;
	width: 20px;
	height: 60px;
	background-image: url("../img/left_tall_arrow.svg");
	background-position: center;
	background-repeat: no-repeat;
}

.product-slider-next {
	transform: rotate(180deg);
}

.image-controls {
	position: absolute;
	top: 50%;
	width: 100%;
	transform: translateY(-50%);
	display: flex;
	justify-content: space-between;
}

.modal-container {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 1000;
}

.modal {
	position: relative;
	width: 920px;
	margin: auto;
	padding: 72px 80px 88px 80px;
	background: #FFFFFF;
	border: 10px solid #000000;
	box-sizing: border-box;
	box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.modal-title {
	font-family: "Raleway", "Arial", sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 50px;
	line-height: 50px;
	color: #000000;
	padding: 0;
	margin: 0;
	margin-bottom: 58px;
}

.modal-close-btn {
	position: absolute;
	padding: 25px;
	top: 75px;
	right: 65px;
	width: 26px;
	height: 26px;
	background-color: #fff;
	color: black;
	border: none;
	background-image: url("/img/modal-close.svg");
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}

.modal-form {
	margin-bottom: 54px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.modal-form-label {
	display: block;
	font-family: "Rubik", "Arial, sans-serif";
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 20px;
	padding-bottom: 15px;
	letter-spacing: -0.02em;
	color: #000000;
}

.modal-input {
	padding: 15px 50px 15px 20px;
	background-color: #F0F0F0;
	font-family: "Rubik", "Arial, sans-serif";
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	color: #000000;
	opacity: 0.6;
	border: none;
}

.modal-input-name, .modal-input-email {
	position: relative;
	width: 360px;
	box-sizing: border-box;
	margin: 0;
}

.modal-input-order {
	width: 560px;
}

.order-quantity-content, .order-quantity-header {
	position: relative;
}

.modal-input-quantity {
	width: 160px;
	position: relative;
	padding-left: 50px;
	padding-right: 50px;
	font-family: "Rubik", "Arial", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	color: #000000;
}

.quantity-minus {
	position: absolute;
	content: "";
	width: 16px;
	height: 2px;
	top: 20px;
	left: 10px;
	transform: translateY(-50%);
	background: #000000;
	color: black;
}

.modal-name-subtext {
	font-family: "Rubik", "Arial", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	display: flex;
	align-items: center;
	color: #FF3D3D;
	padding-top: 10px;
}

.modal-email-subtext {
	font-family: "Rubik", "Arial", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	color: #000000;
	display: block;
	padding-top: 10px;
}

.customer-lable-title {
	display: block;
	padding-bottom: 15px;
}

.modal-send-link-wrap {
	position: relative;
}

.modal-send-link {
	font-family: "Raleway", "Arial", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: inherit;
	text-decoration: inherit;
	width: 200px;
	display: inline-block;
}

.modal-send-link::before {
	content: "";
	position: absolute;
	display: block;
	top: 15px;
	width: inherit;
	height: 8px;
	margin-top: -5px;
	background: #FFC700;
	cursor: pointer;
}

.modal-input-image {
	position: relative;
}

.modal-input-image::before {
	position: absolute;
	content: "";
	width: 13px;
	height: 12px;
	top: 50%;
	right: 20px;
	background-repeat: no-repeat;
	background-position: center;
	transform: translateY(-50%);
}

.modal-input-image-user::before {
	background-image: url("../img/modal-username.svg");
}

.modal-input-image-email::before {
	background-image: url("../img/modal-mail.svg");
}

.order-quantity-header {
	position: relative;
}

.customer-lable-mark {
	position: absolute;
	content: "";
	background-image: url("../img/modal-email-ellipse.svg");
	width: 26px;
	height: 26px;
	top: -2px;
	right: 14px;
	background-repeat: no-repeat;
	cursor: pointer;
}

.customer-lable-mark::before {
	position: inherit;
	content: "";
	width: 2px;
	height: 8px;
	color: black;
	background-color: black;
	top: 10px;
	right: 12px;
}

.customer-lable-mark::after {
	position: inherit;
	content: "";
	width: 2px;
	height: 2px;
	color: black;
	background-color: black;
	top: 6px;
	right: 12px;
}

.order-quantity-popover {
	display: none;
	width: 200px;
	padding-top: 19px;
	padding-left: 19px;
	padding-right: 17px;
	background-color: #000000;
	box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.1);
	position: absolute;
	z-index: 1;
	right: 60px;
}

.quantity-popover-text {
	font-family: "Rubik", "Arial", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	margin: 0;
	padding: 0;
	color: #FFFFFF;
}

.quantity-controls {
	position: absolute;
	top: 50%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transform: translateY(-50%);
	padding-right: 19px;
	padding-left: 19px;
}

.quantity-control-minus {
	width: 16px;
	height: 2px;
	background-image: url("../img/quantity-minus.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-color: #F0F0F0;
	border: none;
	cursor: pointer;
}

.quantity-control-plus {
	width: 16px;
	height: 16px;
	background-image: url("../img/quantity-plus.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-color: #F0F0F0;
	border: none;
	cursor: pointer;
}

 .modal-container-close {
	display: none;
} 