@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    src: url("/fonts/raleway/raleway-800.woff2") format("woff2");
    font-display: swap;
  }
  
  @font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/rubik/rubik-400.woff2") format("woff2");
    font-display: swap;
  }
  
  @font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/rubik/rubik-700.woff2") format("woff2");
    font-display: swap;
  }
  
  @font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 800;
    src: url("/fonts/rubik/rubik-800.woff2") format("woff2");
    font-display: swap;
  }
  
  html {
    height: 100%;
  }

  body {
    margin: 0 auto;
    padding-top: 40px;
    padding-left: 140px;
    padding-right: 140px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 1440px;

    font-family: Rubik, Arial, sans-serif;
    font-size: 18px;
    line-height: 30px;
    background-color: #fff;
    color: black;
  }

  .page-header {
    background-color: #FFE17F;
    width: 1160px;
    max-width: 1160px;
    height: 323px;
    margin: 0 auto;
    color: black;
    text-decoration: none;
  }

  .header-wrapper {
    display: flex;
    width: 1160px;
  }

  .navigation-all {
    width: 1160px;
    display: flex;
  }

  .user-navigation {
    display: flex;
    flex-direction: column;
    width: 535px;
    margin-right: 25px;
  }

  .user-navigation-list {
    display: flex;
    list-style: none;
    margin-top: 0;
    margin-bottom: 29px;
    margin-top: 48px;
    margin-right: 25px;
    padding: 0;
    width: 535px;
    max-width: 535px;
    height: 21px;
}

  .user-navigation-enter-item {
    margin-right: 15px;
    width: 245px;
  }

  .user-navigation-compare-item {
    margin-right: 14px;
    width: 120px;
  }

  .user-navigation-cart-item{
    width: 141px;
    align-self: center;
  }

  .main-navigation-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 535px;
    max-width: 535px;
    height: 50px;
    margin-right: 59px;
  }

  .main-navigation-delivery-item {
  margin-right: 19px;
  height: 20px;
  width: 140px;
 }
 
  .main-navigation-warranty-item {
  margin-right: 62px;
  height: 20px;
  width: 140px;
 }

  .main-navigation-contacts-item {
  height: 20px;
  width: 140px;
 }

  .logo-and-search-and-pull-down-menu {
   display: flex;
   flex-direction: column;
   width: 540px;
   margin-left: 60px;
 }

  .header-logo {
   width: 145px;
   margin-top: -23px;
   margin-bottom: 25px;
 }

  .search-form {
  margin-bottom: 29px;
 }

 .main-container {
  flex-grow: 1;
}
  .page-container {
    width: 1160px;
    margin: 0 auto;
  }

  .product {
    display: flex;
  }

  .article-description {
    display: flex;
    flex-direction: column;
  }

  .product-slider-paggination {
    display: flex;
    list-style: none;
  }

  .categories-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: space-between;
  }

  .categories-list-item {
    width: 160px;
    height: 253px;
    background-color: #FFE17F;
    color: inherit;
  }

  .services-list-name {
    display: flex;
    flex-direction: column;
  }

  .button {
    font-family: Raleway, Arial, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
  }
  
  .user-navigation-link {
    font-family: Rubik, Arial, sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: inherit;
    text-decoration: inherit;
  }
  
  .main-navigation-link {
    font-family: Raleway, Arial, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: inherit;
    text-decoration: inherit;
  }
  
  .index-catalog-pull-down-menu-text {
    font-family: Raleway, Arial, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: inherit;
    height: 50px;
  }
  
  .inner-menu-item-link {
    font-family: Rubik, Arial, sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: inherit;
    text-decoration: inherit;
  }
  
  .main-index {
    color: black;
    text-decoration: none;
  }
  
  .products {
    width: 1160px;
    margin: 0 auto;
  }

  .article-header {
    font-family: Raleway, Arial, sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
  }
  
  .article-product-description {
    font-family: Rubik, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
  }
  
  .products-description-link {
    font-family: Raleway, Arial, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: inherit;
    text-decoration: inherit;
  }
  
  .product-specifications-td {
    font-family: Rubik, Arial, sans-serif;
    font-size: 36px;
    line-height: 30px;
  }
  
  .product-specifications-th {
    font-family: Rubik, Arial, sans-serif;
    font-size: 16px;
    line-height: 30px;
    color: #444444;
  }
  
  .categories {
    width: 1160px;
    margin: 0 auto;
  }

  .categories-list-item-link {
    font-family: Raleway, Arial, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: inherit;
    text-decoration: inherit;
  }
  
  .services {
    width: 1440px;
    max-width: 1440px;
    height: 388px;
  }
  
  .services-background {
    width: 1440px;
    height: 288px;
    background-color: #F0F0F0;
    color: black;
  }

  .services-list-name {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 160px;
    max-width: 160px;
  }

  .services-subtitle {
    font-family: Raleway, Arial, sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
  }
  
  .services-list-name-link {
    font-family: Raleway, Arial, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: inherit;
    text-decoration: inherit;
  }
  
  .services-delivery {
    width: 1160px;
    height: 279px;
    margin: 0 auto;
  }

  .service-description-active {
    font-family: Rubik, Arial, sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
  }
  
  .about-us-list {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
  }

  .about-us-list-text-item {
    flex-grow: 1;
  }

  .about-us-contacts-and-delivery {
    display: flex;
    width: 1160px;
    justify-content: space-between;
    margin: 0 auto;
  }

  .about-us-description, 
  .about-us-contacts {
    width: 560px;
  }

  .about-us-delivery {
    background-color: #F0F0F0;
    width: 1160px;
    height: 100px;
    max-width: 1160px;
    margin: 0 auto;
  }
  
  .about-us-delivery-image {
    background-color: #FFE17F;
  }
  
  .about-us-delivery-text {
    font-family: Raleway, Arial, sans-serif;
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
  }
  
  .about-us-subheader {
    font-family: Raleway, Arial, sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
  }
  
  .about-us-description-text {
    font-family: Rubik, Arial, sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
  }
  
  .about-us-description-list-item {
    font-family: Rubik, Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
  }
  
  .about-us-description-link {
    font-family: Raleway, Arial, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: inherit;
    text-decoration: inherit;
  }
  
  .about-us-h4-subheader {
    font-family: Rubik, Arial, sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
  }
  
  .about-us-contacts-address {
    font-family: Rubik, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
  }
  
  .mailing {
    width: 1440px;
    background-color: #F0F0F0;
  }

  .mailing-text {
    width: 1160px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
  }

  .mailing-form {
    width: 860px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
  }

  .mailing-subscribe-input {
    width: 600px;
  }

  .mailing-submit-button {
    height: 55px;
    width: 260px;
  }

  .contacts-address-phone {
    font-family: Rubik, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    text-decoration-line: underline;
    color: #444444;
  }
  
  .about-us-schedule-item {
    font-family: Rubik, Arial, sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
  }
  
  .mailing-subheader {
    font-family: Raleway, Arial, sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    width: 560px;
    height: 120px;
  }
  
  .mailing-description {
    font-family: Rubik, Arial, sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
    width: 560px;
    height: 99px;
  }
  
  .mailing-submit-button {
    font-family: Raleway, Arial, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
    text-decoration: inherit;
  }
  
  .mailing-description-span {
    font-family: Rubik, Arial, sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
  }
  
  .page-footer {
    background-color: #444444;
    color: white;
    text-decoration: none;
  }
  
  .contact-address-text {
    font-family: Rubik, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
  }
  
  .footer-social-link {
    font-family: Raleway, Arial, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: inherit;
    text-decoration: inherit;
  }
  
  .footer-contacts-phone {
    font-family: Rubik, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    text-align: right;
    color: inherit;
    text-decoration: inherit;
  }
  
  .catalog-header-title {
    font-family: Raleway, Arial, sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
  }
  
  .breadcrumbs-link {
    font-family: Rubik;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    opacity: 0.6;
    text-decoration: none;
  }
  
  .catalog-filters,
  .sorting-type {
    background-color: #EBEBEB;
  }
  
  .catalog-form-header {
    background-color: #DCDCDC;
  }
  
  .sorting-type {
    font-family: Raleway, Arial, sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: black;
  }
  
  .catalog-filter-title {
    font-family: Rubik, Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.02em;
  }
  
  .control-label {
    font-family: Rubik, Arial, sans-serif;
    font-size: 16px;
    line-height: 19px;
  }
  
  .catalog-filter-button {
    font-family: Raleway, Arial, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
  }
  
  .popular-first {
    font-family: Rubik, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
  }
  
  .product-card-link {
    font-family: Rubik, Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #000000;
    text-decoration: none;
  }
  
  .product-card-price {
    font-family: Rubik, Arial, sans-serif;
    font-size: 18px;
    line-height: 21px;
    text-align: right;
    color: #444444;
  }
  
  .show-more {
    font-family: Raleway, Arial, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    background-color: #fff;
    color: #000000;
    border: 2px solid #444444;
  }
  
  .pagination {
    background-color: #EBEBEB;
    color: black;
    text-decoration: none;
  }
  
  .pagination-link-prev,
  .pagination-link-next {
    font-family: Raleway, Arial, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: inherit;
    text-decoration: inherit;
  }
  
  .pagination-link {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #444444;
    text-decoration: inherit;
    opacity: 0.3;
  }
  
  .follow-me-new-text {
    font-family: Raleway, Arial, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
  
    color: rgba(0, 0, 0, 0.6);
  }
  
  .catalog-filter-label {
    font-family: Rubik, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #000000;
    opacity: 0.3;
  }